[Unit]
Description=Kaffee Reader
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/java -jar kaffee-reader.jar /home/pi/code/kaffee-reader/store < /dev/hidraw0
WorkingDirectory=/home/pi/code/kaffee-reader/
StandardOutput=inherit
StandardError=inherit
User=root
Group=root